@import '../variables.scss';

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.breadcrumb{
  position: fixed;
  z-index: 1;
  left: 0;
  top: $header-h;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: lighten($color02,3%);
  padding: 0 20px 0 $aside-w + 20px;
}

.breadcrumbInner{
  float: left;
  a{
    color: $color01
  }
  span{
    color: #b3b6c5
  }
}

.calendar{
  float: right;
  color: #b3b6c5;
  .time{
    margin-left: 10px;
  }
}

.menuClose.breadcrumb{
    padding: 0 20px 0 20px;
}
